﻿@{
    ViewBag.Title = "Vm 服務管理";
}

<form action="@Url.Action("Post", "Vm")" method="post">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">VMHostName</label>
                <div class="col-md-10">
                    <input class="form-control" name="VMHostName" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">VMIP</label>
                <div class="col-md-10">
                    <input class="form-control" name="VMIP" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Type</label>
                <div class="col-md-10">
                    <select class="form-control" name="Type">
                        <option value="AP">AP</option>
                        <option value="DB">DB</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Account</label>
                <div class="col-md-10">
                    <input class="form-control" name="Account" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Password</label>
                <div class="col-md-10">
                    <input class="form-control" name="Password" value="" type="password">
                    <span class="field-validation-valid"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">DESC</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="DESC"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input value="Create" class="btn btn-default" type="submit">
                </div>
            </div>
        </div>
    </div>
</form>