﻿@model IEnumerable<MgmtForm.ViewModels.SubSysVmEntity>
@{
    ViewBag.Title = "Vm 服務管理";
}
<p>
    <a href="@Url.Action("Create", "Vm")" class="btn btn-warning">建立 VM</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>VMHostName</th>
        <th>VMIP</th>
        <th>Type</th>
        <th>Account</th>
        <th>DESC</th>
        <th>建立時間</th>
    </tr>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <form method="post" action="@Url.Action("Edit")">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <td>
                        @Html.DisplayFor(modelItem => item.VMHostName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VMIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                </form>
            </tr>
        }
    }
    else
    {
        <tr>
            <td class="text-center" colspan="36">
                資料庫無資料
            </td>
        </tr>
    }

</table>
