﻿@model IEnumerable<MgmtForm.ViewModels.CompanyEntity>
@{
    ViewBag.Title = "Company 服務管理";
}

<table class="table table-bordered">
    <tr>
        <th>公司資料</th>
        <th>相關代碼</th>
        <th>服務明細</th>
        <th>狀態</th>
        <th class="text-center">操作</th>
    </tr>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <form method="post" action="@Url.Action("Edit")">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <td>
                        <p>
                            @Html.DisplayNameFor(model => model.CompanyId)
                            ：
                            @Html.DisplayFor(modelItem => item.CompanyId)
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.DatabaseId)
                            ：
                            @if (!string.IsNullOrEmpty(item.DatabaseId))
                            {
                                @Html.DisplayFor(modelItem => item.DatabaseId)
                            }
                            else
                            {
                                <span class="text-danger">尚未設置</span>
                            }
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.DatabaseIp)
                            ：
                            @Html.DisplayFor(modelItem => item.DatabaseIp)
                        </p>

                    </td>
                    <td>
                        <p>
                            @Html.DisplayNameFor(model => model.CompanyUuid)
                            ：
                            @Html.DisplayFor(modelItem => item.CompanyUuid)
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.ServiceUuid)
                            ：
                            @Html.DisplayFor(modelItem => item.ServiceUuid)
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.CompanyName)
                            ：
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </p>



                    </td>
                    <td>
                        <p>
                            @Html.DisplayNameFor(model => model.Storage)
                            ：
                            @Html.DisplayFor(modelItem => item.Storage)
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.UserLimit)
                            ：
                            @Html.DisplayFor(modelItem => item.UserLimit)
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.CreateDate)
                            ：
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </p>
                    </td>
                    <td class="text-danger">
                        <p>
                            @Html.DisplayFor(modelItem => item.Status) →
                            <select name="Status">
                                <option>無法修改</option>
                                <option @((@item.Status == "22") ? "selected=selected" : null)>40</option>
                                <option @((@item.Status == "45") ? "selected=selected" : null)>50</option>
                                <option @((@item.Status == "56") ? "selected=selected" : null)>60</option>
                            </select>
                        </p>
                    </td>
                    <td class="text-center">
                        <input style="display: none;" name="Id" value="@item.Id">

                        @if (string.IsNullOrEmpty(item.DatabaseId) && item.Status == "22")
                        {
                            <a class="btn btn-danger" style="width:66px;" href="@Url.Action("Match", "Database", new {id = item.Id})">DB</a>
                        }
                        else
                        {
                            <button class="btn btn-primary" style="width:66px;">存檔</button>
                        }
                    </td>
                </form>
            </tr>
        }
    }
    else
    {
        <tr>
            <td class="text-center" colspan="36">
                資料庫無資料
            </td>
        </tr>
    }

</table>
