﻿@using Microsoft.Ajax.Utilities
@model List<MgmtForm.ViewModels.DatabaseEntity>
@{
    ViewBag.Title = "Database 服務管理";
    var modelGroupByVm = Model.GroupBy(s => s.VmId);
}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @if (modelGroupByVm != null && modelGroupByVm.Count() > 0)
    {
        foreach (var group in modelGroupByVm)
        {
            var groupData = group.FirstOrDefault();
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="heading_@groupData.VmId">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@groupData.VmId" aria-expanded="true" aria-controls="collapse_@groupData.VmId">
                            @groupData.VmHostName / @groupData.VmIp
                        </a>
                    </h4>
                </div>
                <div id="collapse_@groupData.VmId" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_@groupData.VmId">
                    <div class="panel-body">
                        <div class="row" style="margin-bottom:15px;">
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => groupData.VmType)
                                ：
                                @Html.DisplayFor(modelItem => groupData.VmType)
                            </div>
                            <div class="col-sm-5">
                                @Html.DisplayNameFor(model => groupData.VmDesc)
                                ：
                                @Html.DisplayFor(modelItem => groupData.VmDesc)
                            </div>
                            <div class="col-sm-5">
                                <p class="col-sm-4">
                                    VM總使用人數
                                    ：
                                </p>
                                <div class="progress">
                                    @{var total_persent = (decimal)group.Sum(s => int.Parse(s.DbTotalUser)) / int.Parse(groupData.VmTotalUser) * 100;}
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@total_persent" aria-valuemin="0" aria-valuemax="100" style="width: @total_persent%;"></div>
                                    <div style="position:absolute;text-align:center;width:100%;left:20%;">@group.Sum(s => int.Parse(s.DbTotalUser)) / @groupData.VmTotalUser</div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered">
                            <tr>
                                <th>資料庫代碼</th>
                                <th>公司總使用數</th>
                                <th>資料庫總使用人數</th>
                            </tr>
                            @if (group != null && group.Any())
                            {
                                foreach (var item in group)
                                {
                                    <tr>
                                        <form method="post" action="@Url.Action("Match")">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DatabaseId)
                                            </td>
                                            <td>
                                                @item.ServiceTotal
                                            </td>
                                            <td>
                                                @item.DbTotalUser
                                            </td>
                                        </form>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="36">
                                        資料庫無資料
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>資料庫無資料</p>
    }

</div>


