﻿@model MgmtForm.ViewModels.DatabaseMatchPage
@{
    ViewBag.Title = Html.Raw("Database 服務管理：<span class='text-danger'>" +
        Model.MatchData.CompId +
        ", " +
        Model.MatchData.Name +
        ", " +
        "使用人數:" +
        Model.MatchData.User_max +
        "</span>");
    var modelGroupByVm = Model.DatabaseList.GroupBy(s => s.VmId);
}


<h4><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> 運行中的資料庫</h4>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @if (modelGroupByVm != null && modelGroupByVm.Count() > 0)
    {
        foreach (var group in modelGroupByVm)
        {
            var groupData = group.FirstOrDefault();
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="heading_@groupData.VmId">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@groupData.VmId" aria-expanded="true" aria-controls="collapse_@groupData.VmId">
                            @groupData.VmHostName / @groupData.VmIp
                        </a>
                    </h4>
                </div>
                <div id="collapse_@groupData.VmId" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_@groupData.VmId">
                    <div class="panel-body">
                        <div class="row" style="margin-bottom:15px;">
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => groupData.VmType)
                                ：
                                @Html.DisplayFor(modelItem => groupData.VmType)
                            </div>
                            <div class="col-sm-5">
                                @Html.DisplayNameFor(model => groupData.VmDesc)
                                ：
                                @Html.DisplayFor(modelItem => groupData.VmDesc)
                            </div>
                            <div class="col-sm-5">
                                <p class="col-sm-4">
                                    VM總使用人數
                                    ：
                                </p>
                                <div class="progress">
                                    @{var total_persent = (decimal)group.Sum(s => int.Parse(s.DbTotalUser)) / int.Parse(groupData.VmTotalUser) * 100;}
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@total_persent" aria-valuemin="0" aria-valuemax="100" style="width: @total_persent%;"></div>
                                    <div style="position:absolute;text-align:center;width:100%;left:20%;">@group.Sum(s => int.Parse(s.DbTotalUser)) / @groupData.VmTotalUser</div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <tr>
                                <th>資料庫代碼</th>
                                <th>公司總使用數</th>
                                <th>資料庫總使用人數</th>
                                <th class="text-center">操作</th>
                            </tr>
                            @if (group != null && group.Any())
                            {
                                foreach (var item in group)
                                {
                                    <tr>
                                        <form method="post" action="@Url.Action("CopySubsysDet")">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)
                                            <td>
                                                @item.DatabaseId
                                            </td>
                                            <td>
                                                @item.ServiceTotal
                                            </td>
                                            <td>
                                                @item.DbTotalUser
                                            </td>
                                            <td class="text-center">
                                                <input class="hidden" name="Id" value="@item.Id">
                                                <input class="hidden" name="SubsysId" value="@Request.RequestContext.RouteData.Values["id"]">
                                                <button class="btn btn-warning">加入</button>
                                            </td>
                                        </form>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="36">
                                        資料庫無資料
                                    </td>
                                </tr>
                            }

                        </table>


                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-danger">None</p>
    }

</div>

<hr>

<h4><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> 建立新的資料庫</h4>
<table class="table table-bordered">
    <tr>
        <th>Vm資料</th>
        @*<th>資料庫代碼</th>*@
        <th class="text-center">操作</th>
    </tr>
    <tr>
        <form method="post" action="@Url.Action("CreateSubsysDet")">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <td>
                @if (Model.VmList != null && Model.VmList.Count > 0)
                {
                    <div class="input-group">
                        <div class="input-group-addon">Vm</div>
                        <select class="form-control" name="VmId">
                            @foreach (var item in Model.VmList)
                            {
                                <option value="@item.ID">@item.VMHostName / @item.VMIP</option>
                            }
                        </select>
                    </div>

                }
                else
                {
                    <p class="text-danger">尚未設置</p>
                }
            </td>
            @*<td>
                <div class="input-group">
                    <div class="input-group-addon">DataBaseid</div>
                    <input class="form-control" name="DataBaseid" />
                </div>
            </td>*@
            <td class="text-center">
                <input class="hidden" name="SubsysId" value="@Request.RequestContext.RouteData.Values["id"]">
                <button class="btn btn-danger">新增</button>
            </td>
        </form>
    </tr>

</table>