﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.terminal.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ADF Site 主控台</a>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Company")">Company 管理</a></li>
                    <li><a href="@Url.Action("Index", "Database")">Database 管理</a></li>
                    <li><a href="@Url.Action("Index", "Vm")">Vm 管理</a></li>
                    <li><a href="@Url.Action("Index", "Terminal")">Terminal 管理</a></li>
                    <li><a href="@Url.Action(null, "Elmah")">Elmah 管理</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h3>@ViewBag.Title</h3>
        </div>
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @TempData["AlertMessage"].ToString()
            </div>
        }
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.mousewheel-min.js"></script>
    <script src="~/Scripts/jquery.terminal-min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
